<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">

      <h1><strong>日本酒印帳</strong></h1>
      <p><strong>へようこそ</strong></p>
      <p>日本酒との出会いを記録に残してみませんか？</p>
      
   
      <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark btn-sm btn-block mb-3" %></p>
      <p><%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline-dark btn-sm btn-block" %></p>

    
    </div>
  </div>
</div>